name: MSAgroNotificacao CI/CD

on:
  push:
    branches: [ "master" ]

jobs:

  build-and-push:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Login DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/MSAgroNotificacao:latest .

    - name: Push image
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/MSAgroNotificacao:latest
